@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #000A1C;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.responsive-logo {
    max-width: 50px !important;
    max-height: 50px !important;
    margin-top: 20px !important;
  }
  
  @media (min-width: 768px) {
    .responsive-logo {
      max-width: 70px !important;
      max-height: 70px !important;
      margin-top: 20px !important;
    }
  }

  @media (max-width: 767px) {
    .custom-grid {
      display: none;
    }
  }
  