@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "intl-tel-input/build/css/intlTelInput.css";

.phone-input-container {
  position: relative;
}

.phone-input-container .country-list {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  z-index: 9999 !important;
  margin-top: 5px !important;
  background-color: #000A1C !important;
  color: white !important;
  border: 1px solid #36b0e2 !important;
  max-height: 200px !important;
  overflow-y: auto !important;
}

.react-tel-input .selected-flag.open {
  background-color: transparent !important;
}

.react-tel-input .country-list .country:hover,
.react-tel-input .country-list .country.highlight {
  background-color: #36b0e2 !important;
}

.react-tel-input .phone-search-input {
  background-color: #000A1C !important;
  color: white !important;
  border: 1px solid #36b0e2 !important;
}

body {
    background-color: #000A1C;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.responsive-logo {
    max-width: 50px !important;
    max-height: 50px !important;
    margin-top: 20px !important;
  }
  
  @media (min-width: 768px) {
    .responsive-logo {
      max-width: 70px !important;
      max-height: 70px !important;
      margin-top: 20px !important;
    }
  }

  @media (max-width: 767px) {
    .custom-grid {
      display: none;
    }
  }
  